<% if(username){ %>
  <p><%= username %>, You are logged in! </p>
  <form method="POST" action = '/urls/logout'>
          <input type="submit" value="Logout">
        </form>
<% } else { %>
<form action = '/login' method = 'POST'>
  <label for="name">Name:</label>
  <input id="username" type="text" name="username" placeholder="" style="width: 300px">
  <input type = "submit" value="Login">
</form>
<% } %>