<% if(user){ %>
  <p><%= user.email %>, You are logged in! </p> <a href = '/urls'>My links</a><form method="POST" action = '/logout'>
          <input type="submit" value="Logout">
        </form>
<% } else { %>
<a href = "/register">Register</a>
<a href = "/login">Login</a>
</form>
<% } %>