<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <p>Error <%= code %> : <%= message %><p><a href = '/login'>Login</a>  <a href = '/register'>Register</a>
  </body>
</html>