<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_headers %>
</head>
<body>
  <h2>Welcome to Tiny App</h2>
    <% if(urls) { %>
      <% Object.keys(urls).forEach(function(everyUrl) { %>
          <li><%= everyUrl %> -> <%= urls[everyUrl].url %> <a href = "/urls/<%= everyUrl %>"> Edit </a>
          <form method="POST" action = '/urls/<%= everyUrl %>/delete'>
            <input type="submit" value="Delete">
          </form></li>
      <% }); %>
    <% } else { %>
    <p> No URLS for you </p>
    <% } %>
</body>
</html>