<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h2>Tiny App - Login</h2>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="email">Email</label><br/>
      <input id="email" type="email" name="email" placeholder="Enter an email" style="width: 300px"> <br/>
       <label for="password">Password</label><br/>
      <input id="password" type="password" name="password" placeholder="Enter a password" style="width: 300px"><br/>
      <input type = "submit" value="Login">
    </form>
  </body>
</html>