<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_headers %>
</head>
<body>
  <h2>Welcome to Tiny App</h2>
    <% Object.keys(urls).forEach(function(url) { %>
        <li><%= url %> -> <%= urls[url]%> <a href = "/urls/<%= url %>"> Edit </a>
        <form method="POST" action = '/urls/<%= url %>/delete'>
          <input type="submit" value="Delete">
        </form></li>
    <% }); %>
</body>
</html>